 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">

    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAigAAAAJGFmZTI5MjI4LTFkYTYtNDA2Ni04NDI3LWE4Y2NjMTg3N2IyNA.jpg" alt="Dulaj Chathuranga" title="Dulaj Chathuranga">
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>

</div>
