<div class="user-details">
  <h1> Contact </h1>
</div>

<div class="user-projects">
  <div class="user">
    <div class="tech">
      <p>Please, feel free to leave me a message.</p>
      <form id="formaction" method="POST">
        <p><input type="email" name="_replyto" placeholder="Your email"></p>
        <p><input type="text" name="name" placeholder="Your Name"></p>
        <p><textarea name="message" placeholder="Your message"></textarea></p>
        <p><button type="submit">Send</button></p>
      </form>
      <script>
        var contactform =  document.getElementById('formaction');
        contactform.setAttribute('action', '//formspree.io/' + 'dulajchathu' + '@' + 'yahoo' + '.' + 'com');
    </script>
    </div>  
  </div>
</div>

<div class="user-projects">
  <a class="project-link" href="/blog/">Read Blog</a> 
</div>



